<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
<listener class-name="utilities.Listeners" />
<listener class-name="utilities.RetryListener" /> 
</listeners>

  <test thread-count="2" name="Test">
    <classes>
      <class name="newSetUp.newUp.AssetPageTest"/>
      <class name="newSetUp.newUp.ProjectPageTest"/>
      <class name="newSetUp.newUp.LoginPageTest"/>
      <class name="newSetUp.newUp.SchedulePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
